# Automação Web e Busca de Informações com Python

### Desafio:

* Soja, Milho, Trigo, Petróleo, etc.<br><br>

Precisamos pegar na internet, de forma automática, a cotação de todas as commodities e ver se ea está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar com uma ação de compra para a equipe de operações <br><br>

Base de dados: <br><br>

Para isso, vamos criar uma automação web:<br>

* Usaremos o selenium;<br>
* Importante: baixar o webdriver;

## passo a passo:<br>

#### 1º) Conectar a fonte de dados;
#### 2º) Baixar os dados;
#### 3º) Pegar o preço atual de cada produto da nossa base;
#### 4º) Atualizar o preço atual na base de dados;
#### 5º) Criar algritmo que indicará se o rpeço atual é menor/maior que o preço cadastrado;
#### 6º) Exporar a base de dados atualizada;

## Bibliotecas

In [10]:
import pandas                    as pd
from selenium import webdriver

In [11]:
# criando um navegador
navegador = webdriver.Chrome()
navegador.get('https://www.google.com/')

In [12]:
tabela = pd.read_excel('commodities.xlsx')
tabela

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [13]:
# Acessar o site melhor câmbio https://www.melhorcambio.com/

navegador.get('https://www.melhorcambio.com/milho-hoje')

# pegar a cotação e converter em número
cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao = cotacao.replace(".", "").replace(",", ".")
cotacao = float(cotacao)

## Preencher o preço atual na planilha
tabela.loc[0, 'Preco Atual'] = cotacao

'57,43'

In [ ]:
#01:15:53