# Automação Web e Busca de Informações com Python

### Desafio:

* Soja, Milho, Trigo, Petróleo, etc.<br><br>

Precisamos pegar na internet, de forma automática, a cotação de todas as commodities e ver se ea está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar com uma ação de compra para a equipe de operações <br><br>

Base de dados: <br><br>

Para isso, vamos criar uma automação web:<br>

* Usaremos o selenium;<br>
* Importante: baixar o webdriver;

## passo a passo:<br>

#### 1º) Conectar a fonte de dados;
#### 2º) Baixar os dados;
#### 3º) Pegar o preço atual de cada produto da nossa base;
#### 4º) Atualizar o preço atual na base de dados;
#### 5º) Criar algritmo que indicará se o rpeço atual é menor/maior que o preço cadastrado;
#### 6º) Exporar a base de dados atualizada;

## Bibliotecas

In [15]:
import pandas                    as pd
import unicodedata
from selenium import webdriver

In [20]:
# criando um navegador
navegador = webdriver.Chrome()
navegador.get('https://www.google.com/')

tabela = pd.read_excel('commodities.xlsx')
tabela

# Obtendo as cotações

for linha in tabela.index:
    
    produto = tabela.loc[linha, 'Produto']
    
    # Acessar o site melhor câmbio https://www.melhorcambio.com/
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    #link = unicodedata.normalize('NFKD', link).encode('ascii', 'ignore')
    link = link.replace('ó', 'o').replace('á', 'a').replace('ç', 'c').replace('ú', 'u').replace('é', 'e').replace('ã', 'a')
    navegador.get(link) 

    # pegar a cotação e converter em número
    cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    cotacao = float(cotacao.replace(".", "").replace(",", "."))

    ## Preencher o preço atual na planilha
    tabela.loc[linha, 'Preço Atual'] = cotacao

navegador.quit()

display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.51      NaN
1      Soja       163.59       132.56      NaN
2       Boi       282.20       267.30      NaN
3  Petróleo       424.37       377.18      NaN
4   Algodão       497.76       395.63      NaN
5    Açúcar       136.23       148.83      NaN
6      Café      1092.87      1043.39      NaN
7      Ouro       321.77       313.05      NaN
8     Trigo      1549.11         0.00      NaN
9   Tilápia         9.05         9.64      NaN

In [23]:
# Verificar os preços atuais que estão abaixo do preço ideal

tabela['Comprar'] = (tabela['Preço Atual'] > 0) & (tabela['Preço Atual'] < tabela['Preço Ideal'])
tabela

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.51     True
1      Soja       163.59       132.56     True
2       Boi       282.20       267.30     True
3  Petróleo       424.37       377.18     True
4   Algodão       497.76       395.63     True
5    Açúcar       136.23       148.83    False
6      Café      1092.87      1043.39     True
7      Ouro       321.77       313.05     True
8     Trigo      1549.11         0.00    False
9   Tilápia         9.05         9.64    False

In [ ]:
tabela.to_excel(comodities_a)