# Projeto Ciência de Dados - Previsão de Preços

- Nosso desafio é conseguir prever o preço de barcos que vamos vender baseado nas características do barco, como: ano, tamanho, tipo de barco, se é novo ou usado, qual material usado, etc.

- Base de Dados: https://drive.google.com/drive/folders/1o2lpxoi9heyQV1hIlsHXWSfDkBPtze-V?usp=share_link

### Passo a Passo de um Projeto de Ciência de Dados

- Passo 1: Entendimento do Desafio
- Passo 2: Entendimento da Área/Empresa
- Passo 3: Extração/Obtenção de Dados
- Passo 4: Ajuste de Dados (Tratamento/Limpeza)
- Passo 5: Análise Exploratória
- Passo 6: Modelagem + Algoritmos (Aqui que entra a Inteligência Artificial, se necessário)
- Passo 7: Interpretação de Resultados

![title](tabelas.png)

In [1]:
# Bibliotecas

import pandas as pd

In [2]:
# Passo 1: Entendimento do Desafio
# Passo 2: Entendimento da Área/Empresa
# Passo 3: Extração/Obtenção de Dados

tabela = pd.read_csv('barcos_ref.csv')
display(tabela)

      Preco  TipoBarco  TipoVenda   Ano  Comprimento  Largura  Material
0      3490          1          1  2020         4.00     1.50         1
1      3399          2          1  2019         3.55     1.46         2
2      3600          3          2  1999         6.20     2.38         2
3      3500          2          2  1987         4.35     1.75         3
4      3500          4          2  2004         4.70     2.00         3
...     ...        ...        ...   ...          ...      ...       ...
7644   5000          7          2  1974         7.20     2.70         3
7645   4999          4          2  1980         6.00     2.10         3
7646   4950          2          2  1984         6.00     1.62         5
7647   4499          4          1  2020         4.40     1.80         3
7648   3780          2          1  2019         3.60     1.60         3

[7649 rows x 7 columns]

In [ ]:
# Passo 4: Ajuste de Dados (Tratamento/Limpeza)
# Passo 5: Análise Exploratória
# Passo 6: Modelagem + Algoritmos (Aqui que entra a Inteligência Artificial, se necessário)
# Passo 7: Interpretação de Resultados